<%= render "/navbar" %>

<h1><%= @success_message %></h1>

<h2 class="text-center">Your Cart</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_books.each do |book| %>
      <% if book.date_time_checked_out == nil %>
        <tr>
          <td><%= book.id %></td>
          <td><%= book.title %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
